<h2>Editar alerta</h2>
<form (ngSubmit)="onSubmit()" #formalerta="ngForm">
    <p>
        <mat-form-field>
            <input matInput name="Fecha y hora" [(ngModel)]="alerta.nombre"
                type="text"
                placeholder="Fecha y hora">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="tipo" [(ngModel)]="alerta.fechayhora"
                type="text"
                placeholder="tipo">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="usuario" [(ngModel)]="alerta.edad"
                type="number"
                placeholder="usuario">
        </mat-form-field>
    </p>
    <p>
        <button type="submit" mat-flat-button color="accent">Guardar</button>
        &nbsp;
        <button (click)="volver()" type="button" mat-flat-button color="primary">Volver</button>
    </p>
</form>
